.header {
  display: flex;
  flex-direction: column;
  gap: 20px;

  max-width: 1200px;
  margin: 0 auto;
  font-size: 14px;
  .nav, .menu {
    display: flex;
  }
  .nav {
    align-items: center;
    justify-content: space-between;
    input {
      width: 480px;
      height: 40px;
      border-radius: 16px;
    }
  }
  .menu {
    gap: 20px;
    font-size: 20px;
    li {
      cursor: pointer;
    }
  }
  .etc {
    display: flex;
    gap: 16px;
  }
}